<%= turbo_frame_tag post do %>
  <div id="<%= dom_id post %>" class="post">
    <%= link_to post.title, post_path(post), data: { turbo_frame: "_top", turbo_prefetch: false } %>
    <%= post.body %>

    <div class="post__actions">
      <%= link_to "Edit", edit_post_path(post), data: { turbo_prefetch: false, turbo_frame: "_top" }, class: "btn btn--light" %>
      <%= button_to "Delete", post_path(post), method: :delete, class: "btn btn--light" %>
    </div>
  </div>
<% end %>